.fv {
  height: 85vh;
  overflow: hidden;
  position: relative;
}
.fv__video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
}
.fv__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fv-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fv__title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-black);
  width: 100%;
  z-index: 10;
}

.fv__title-main {
  display: block;
  font-size: clamp(7.5rem, 6.620rem + 3.756vw, 10rem);
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  text-indent: 0.3em;
  letter-spacing: 0.3em;

  @mixin mq-sp {
    font-size: clamp(5rem, 4.457rem + 2.315vw, 5.938rem);
  }
}

.fv__title-sub {
  display: block;
  /* font-size: var(--font-size-xl);
  margin-top: var(--spacing-size-24); */
}
.scroll-container {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: 1.6s ease-in-out 0s infinite normal none running mousemove;
          animation: 1.6s ease-in-out 0s infinite normal none running mousemove;

  @-webkit-keyframes mousemove {
    0% {
      bottom:100px;
    }
    50% {
      bottom:90px;
    }
    100% {
      bottom:100px;
    }
}
@keyframes mousemove {
  0% {
    bottom:100px;
  }
  50% {
    bottom:90px;
  }
  100% {
    bottom:100px;
  }
}

.scrolldown {
  color: var(--color-black);
  position: relative;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%; 
    background-color: var(--color-black);
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 37px;
    border: 2px solid var(--color-black);
    border-radius: 10px;
  }


  span {
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 15px;
      background-color: var(--color-black);
      opacity: 0;
      -webkit-animation: mousepathmove 1.4s linear infinite;
      animation: mousepathmove 1.4s linear infinite;

      @-webkit-keyframes mousepathmove {
        0% {
          opacity: 0;
          top: 15px;
        }
        50% {
          opacity: 1;
          top: 25px;
        }
        100% {
          opacity: 0;
          top: 40px;
        }
      }

      @keyframes mousepathmove {
        0% {
          opacity: 0;
          top: 15px;
        }
        50% {
          opacity: 1;
          top: 25px;
        }
        100% {
          opacity: 0;
          top: 40px;
        }
      }
    }
  }
}
}