.fv {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  z-index: var(--z-index-fv);
  position: relative;
  will-change: transform;

  &__video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    @mixin mq-sp {
      background-image: url('/assets/image/fv.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;

    @mixin mq-sp {
      display: none;
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--color-black);
    width: 100%;
    z-index: var(--z-index-fv);
  }

  &__title-main {
    display: block;
    font-size: clamp(7.5rem, 6.620rem + 3.756vw, 10rem);
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
    text-indent: 0.3em;
    letter-spacing: 0.3em;

    @mixin mq-sp {
      font-size: clamp(3.75rem, 2.980rem + 3.286vw, 5.938rem);
    }
  }

  &__title-sub {
    display: block;
    font-size: var(--font-size-xl);
    margin-top: var(--spacing-size-24);
  }
}


.fv__title-sub {
  display: block;
}

.scroll-container {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.scroll-bg {
  background-color: var(--color-white);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px dashed var(--color-black);
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.scrolldown {
  color: var(--color-black);
  position: relative;
  text-transform: uppercase;
  animation: 1.6s ease-in-out 0s infinite normal none running mousemove;

  &::after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--color-black);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 37px;
    border: 2px solid var(--color-black);
    border-radius: 10px;
  }

  span {
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 15px;
      background-color: var(--color-black);
      opacity: 0;
      animation: mousepathmove 1.4s linear infinite;
    }
  }
}

@keyframes mousemove {
  0% {
    bottom: 0px;
  }
  50% {
    bottom: -10px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes mousepathmove {
  0% {
    opacity: 0;
    top: 15px;
  }
  50% {
    opacity: 1;
    top: 25px;
  }
  100% {
    opacity: 0;
    top: 40px;
  }
}