.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  display: grid;
  z-index: var(--z-index-header);

  &__inner {
    padding-inline: var(--spacing-size-24);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    background-color: var(--color-white);
    padding: var(--spacing-size-16) var(--spacing-size-20);
    border-radius: 30px;
    border: 1px solid var(--color-green-dark);
    transition: var(--transition-all);
    cursor: pointer !important;

    @media (hover: hover) {
      &:hover {
        background-color: var(--color-green-dark);
  
        .header__logo-link {
          color: var(--color-white);
        }
      }
    }
  }

  &__logo-link {
    font-size: var(--font-size-semi-lg);
    text-transform: uppercase;
    color: var(--color-green-dark);
  }

  &__menu-button {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--color-white);
    border-radius: 20px;
    border: 1px solid var(--color-green-dark);
    transition: var(--transition-all);
    cursor: pointer !important;

    &:not(.is-open):hover {
      background-color: var(--color-green-dark);

      span {
        background-color: var(--color-white);
      }
    }

    span {
      display: block;
      width: 24px;
      height: 2px;
      background-color: var(--color-green-dark);
      border-radius: 2px;
      transition: var(--transition-all);
    }

    /* ドロワー開閉状態のスタイル */
    &.is-open {
      gap: 0;

      &:hover {
        background-color: var(--color-green-dark);
        border: 2px solid var(--color-white);

        span:nth-child(1),
        span:nth-child(3) {
          background-color: var(--color-white);
        }
      }

      span {
        background-color: var(--color-white); 
        transition: var(--transition-all);

        &:nth-child(1) {
          transform: translateY(2px) rotate(45deg);
          background-color: var(--color-green-dark);
        }

        &:nth-child(2) {
          opacity: 0; 
        }

        &:nth-child(3) {
          transform: translateY(-2px) rotate(-45deg); 
          background-color: var(--color-green-dark);
        }
      }
    }
  }
}
