.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 80px;
    display: grid;
}
.header__inner {
    padding-inline: var(--spacing-size-24);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    background-color: var(--color-white);
    padding: var(--spacing-size-16) var(--spacing-size-20);
    border-radius: 30px;

}
.header__logo-link {
    font-size: var(--font-size-semi-lg);
    text-transform: uppercase;
    color: var(--color-green-dark);
}

.header__nav {
    

}

.header__nav-list {
    display: flex;
    gap: 5px;

}

.header__nav-item {
    background-color: var(--color-white);
    padding: var(--spacing-size-16) var(--spacing-size-20);

    &:nth-child(1) {
        border-radius: 30px 0 0 30px;
    }

    &:nth-child(3) {
        border-radius: 0 30px 30px 0;
    }

}

.header__nav-link {
    color: var(--color-green-dark);
    text-transform: uppercase;
    font-size: var(--font-size-semi-lg);

}

