.works {
  background-color: var(--color-beige);
  overflow: hidden;
  position: relative;
  padding-top: var(--spacing-size-80);
  padding-bottom: var(--spacing-size-80);

  &__bg-left {
    background-image: url('../../../assets/image/dash.png');
    background-size: 20% 100%;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
  }

  &__bg-right {
    background-image: url('../../../assets/image/dash.png');
    transform: scaleX(-1);
    background-size: 20% 100%;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
  }
  &__bg-title {
    background-color: var(--color-white);
    width: calc(100% - 6px);
    height: 180px;
    border-radius: 0px 0px 40% 40%;
    border: 3px dashed var(--color-black);
    position: absolute;
    top: 0;
    left: 0;
  }

  &__inner {
    max-width: var(--layout-content-width);
    margin: 0 auto;
    padding: 0 var(--spacing-size-24);
  }

  &__title {
    font-size: var(--font-size-3xl);
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--spacing-size-40);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 2;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .works__item {
      position: relative;
      width: 100%;
      text-align: center;
      padding: var(--spacing-size-40) 0;
      opacity: 0;
      transform: translateY(30px);
      transition: opacity 0.6s ease, transform 0.6s ease;

      &.is-visible {
        opacity: 1;
        transform: translateY(0);
      }

      &:nth-child(1) {
        .works__thumbnail {
          top: -50%;
          right: -8%;
        }
      }

      &:nth-child(2) {
        .works__thumbnail {
          top: -50%;
          left: 0%;
        }
      }

      &:nth-child(3) {
        .works__thumbnail {
          bottom: -15%;
          right: -5%;
        }
      }

      &:nth-child(4) {
        .works__thumbnail {
          top: -160%;
          left: -4%;
        }
      }

      &:nth-child(5) {
        .works__thumbnail {
          top: -85%;
          right: 0%;
        }
      }

      &:nth-child(6) {
        .works__thumbnail {
          bottom: 0%;
          left: 0%;
        }
      }

      .works__link {
        display: block;
        text-decoration: none;
        width: fit-content;
        margin-inline: auto;

        &:hover {
          .works__thumbnail {
            opacity: 1;
  
            img {
              transform: scale(1.15);
            }
          }
        }
      }

      .works__text {
        position: relative;
        z-index: 2;

        &:hover {
          .works__item-title {
            color: var(--color-green-dark);
            transform: var(--transform-down);
          }
          .works__item-role {
            color: var(--color-green-dark);
            transform: var(--transform-down);
          }
        }

        .works__item-title {
          font-size: var(--font-size-3xl);
          letter-spacing: 0.1em;
          color: var(--color-black);
          font-weight: var(--font-weight-bold);
          transition: var(--transition-all);
        }

        .works__item-role {
          font-size: var(--font-size-sm);
          font-family: var(--font-family-en);
          margin-top: 8px;
          color: var(--color-black);
          transition: var(--transition-all);
        }
      }

      .works__thumbnail {
        position: absolute;
        width: clamp(12.5rem, 3.697rem + 37.559vw, 37.5rem);
        height: clamp(12.5rem, 3.697rem + 37.559vw, 37.5rem);
        border-radius: 50%;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        z-index: 1;
        transition: opacity 0.3s ease;

        @mixin mq-sp {
          display: none;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 3s linear;
        }
      }

      @mixin mq-sp {
        padding: var(--spacing-size-24) 0;

        .works__item-title {
          font-size: var(--font-size-xl);
        }
      }
    }
  }
}
