.section-card {
  border-radius: 0 0 50px 50px;
  overflow: clip;
  position: relative;
  z-index: var(--z-index-section);
  background-color: var(--color-beige);
}

.section {
  &__bg-left {
    background-image: url("../../../assets/image/dash.png");
    background-size: 20% 100%;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: var(--z-index-layer-1);
  }

  &__bg-right {
    background-image: url("../../../assets/image/dash.png");
    transform: scaleX(-1);
    background-size: 20% 100%;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--z-index-layer-1);
  }
}
