.section-card {
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin-top: 85vh;
  margin-bottom: 103px;
  background-color: var(--color-beige);
}
.section__bg-left {
  background-image: url("../../../assets/image/dash.png");
  background-size: 20% 100%;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.section__bg-right {
  background-image: url("../../../assets/image/dash.png");
  transform: scaleX(-1);
  background-size: 20% 100%;
  background-position: left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
