/* Base */
@import "./bases/variables.css";
@import "./bases/reset.css";
@import "./bases/mixins.css";
@import "./bases/base.css";
@import "./bases/display.css";


/* Components */
/* @import './components/button.css';
@import './components/card.css'; */

/* Layout */
@import './layout/header.css';
@import './layout/footer.css';
@import "./layout/fv.css";
@import "./layout/works.css";
@import "./layout/about.css";
@import "./layout/contact.css";
