@use "../../global/_variables.scss" as *;
.custom-cursor {
    position: fixed;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: width 0.3s ease, height 0.3s ease, top 0.3s ease, left 0.3s ease, background-color 0.3s ease;
    will-change: transform;


    width: 40px;
    height: 40px;
    border: 1.5px solid $white-color;

    z-index: 9998;
    translate: -50% -50%;
    opacity: 0.6;

    &.is-hover {
        width: 60px;
        height: 60px;

    }
    &.is-hidden {
        opacity: 0;
    }
  }



  .cursor-dot {
    mix-blend-mode: difference;
    will-change: transform;
    width: 8px;
    height: 8px;
    background: $white-color;
    border-radius: 50%;
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    z-index: 9999;
    translate: -50% -50%;
  
    &.is-hidden {
      opacity: 0;
    }
  }