@use "../../global/variables" as *;

.scroll-down {
    position: absolute;
    bottom: 9%;
    left: 50%;
    translate: -50% 0;

}

.scroll-down__text {
    font-size: $font-size-18;
    font-weight: 700;
    font-family: $font-family-en;
    text-transform: uppercase;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: -5rem;
        left: 50%;
        translate: -50% 0;
        width: 2px;
        height: 60px;
        background-color: rgba($black-color, 0.5);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -2rem;
        left: 50%;
        translate: -50% 0;
        width: 30px;
        height: 30px;
        background: $main-color;
        border-radius: 50%;

        animation: scroll-down-circle-morph 1.5s ease-out infinite;
    }

    @keyframes scroll-down-circle-morph {
        0% {
            bottom: -2rem;
        }
        100% {
            bottom: -6rem;
            opacity: 0.1;
        }
    }

}

.scroll-down__circle {

}

