.l-header {
  position: fixed;
  top: 0px; // 開発用 本番は0
  left: 0;
  width: 100%;
  height: var(--header-height); 
  z-index: var(--z-header);
  background-color: var(--color-bg-sub);
  border-bottom: var(--border-width-md) solid var(--color-border);
}
