@use "../global/mixins" as *;

.l-inner {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: var(--space-40);  // PC: 40px

  @include mq(sp) {
    padding-inline: var(--space-16);  // SP: 16px
  }
}