@use "../global/mixins" as *;

.l-inner {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: var(--space-sm);  // SP: 16px

  @include mq(pc) {
    padding-inline: var(--space-lg);  // PC: 40px
  }
}