<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>

  <link rel="stylesheet" href="/scss/style.scss">
  <script type="module" src="/js/main.js"></script>
</head>
<body>
<header class="l-header">
  <div class="l-inner p-header">
    <h1 class="p-header__title">
      <a href="/" class="p-header__title-link">yuuki's portfolio</a>
    </h1>
    <nav class="p-header__nav">
      <ul class="p-header__nav-list">
        <li class="p-header__nav-item">
          <a href="/" class="p-header__nav-link">制作実績</a>
        </li>
        <li class="p-header__nav-item">
          <a href="/" class="p-header__nav-link">できること</a>
        </li>
        <li class="p-header__nav-item">
          <a href="/" class="p-header__nav-link">私について</a>
        </li>
        <li class="p-header__nav-item">
          <a href="/" class="p-header__nav-link">お問い合わせ</a>
        </li>
      </ul>
    </nav>
  </div>

</header>