
/* Font */
$font-family-en: 'Red Hat Display', sans-serif;
$font-family-ja: 'Zen Kaku Gothic New', sans-serif;


/* Color */
$main-color: linear-gradient(to right, #24a19c 0%, #00c194 100%);
$green-color: #249384;
$accent-color:#f7a849;
$white-color:#fff;
$green-light-color:#17b582;

/* Breakpoint */
