@use "../../global/variables" as *;
@use "../../global/mixins" as *;

.p-blob__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.p-blob-green,
.p-blob-accent,
.p-blob-mint {
  will-change: transform;
}
.p-blob-green {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  border-radius: 64% 36% 25% 75% / 41% 33% 67% 59%;
  width: clamp(25rem, 17.877rem + 14.859vw, 31.25rem);
  height: clamp(25rem, 17.877rem + 14.859vw, 31.25rem);
  background: var(--color-main);
  z-index: var(--z-index-blob-green);

  @media (min-width: 768px) and (prefers-reduced-motion: no-preference) {
    animation: blob-morph 10s ease-in-out infinite;
  }

  @include mq(sp) {
    animation: none;
  }

  @keyframes blob-morph {
    0%,
    100% {
      border-radius: 50% 50% 47% 53% / 40% 63% 37% 60%;
    }
    33% {
      border-radius: 55% 45% 56% 44% / 49% 48% 52% 51%;
    }
    66% {
      border-radius: 59% 41% 46% 54% / 56% 64% 36% 44%;
    }
  }
}

.p-blob-accent {
  position: absolute;
  top: 47%;
  right: clamp(23.125rem, 18.51rem + 7.212vw, 25rem);
  translate: 0 -50%;
  width: clamp(9.375rem, 5.814rem + 7.429vw, 12.5rem);
  height: clamp(9.375rem, 5.814rem + 7.429vw, 12.5rem);
  z-index: var(--z-index-blob-accent);
  background-color: var(--color-accent);
  border-radius: 71% 29% 50% 50% / 39% 46% 54% 61%;

  @media (min-width: 768px) and (prefers-reduced-motion: no-preference) {
    animation: blob-accent-morph 10s ease-in-out infinite;
  }

  @include mq(sp) {
    animation: none;
  }

  @keyframes blob-accent-morph {
    0%,
    100% {
      border-radius: 71% 29% 50% 50% / 39% 46% 54% 61%;
    }
    33% {
      border-radius: 61% 39% 60% 40% / 33% 39% 61% 67%;
    }
    66% {
      border-radius: 48% 52% 41% 59% / 45% 65% 35% 55%;
    }
  }
}

.p-blob-mint {
  position: absolute;
  bottom:clamp(50px, calc(-66.667px + 16.667vh), 150px);
  right: clamp(130px, 158.571px + -3.72vw, 105px);
    width: clamp(50rem, 0.000rem + 104.167vw, 93.75rem);
    height: clamp(50rem, 0.000rem + 104.167vw, 93.75rem);
    scale: 0.2;
    transform-origin: bottom right;
  background-color: var(--color-mint);
  z-index: var(--z-index-blob-mint);
  border-radius: 72% 28% 45% 55% / 62% 43% 57% 38%;

  @media (min-width: 768px) and (prefers-reduced-motion: no-preference) {
    animation: blob-accent-circle-morph 10s ease-in-out infinite;
  }

  @include mq(sp) {
    animation: none;
    width: clamp(9.375rem, 4.203rem + 21.22vw, 14.375rem);
    height: clamp(9.375rem, 4.203rem + 21.22vw, 14.375rem);
    scale: 1;
  }

  @keyframes blob-accent-circle-morph {
    0%,
    100% {
      border-radius: 72% 28% 45% 55% / 62% 43% 57% 38%;
    }
    33% {
      border-radius: 58% 42% 36% 64% / 69% 49% 51% 31%;
    }
    66% {
      border-radius: 48% 52% 57% 43% / 49% 59% 41% 51%;
    }
  }
}

// .p-fv__blob-green {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     translate: -50% -50%;
//     width: 20%;
//     height: 20%;
//     background-color: $green-light-color;
//     z-index: $z-index-fv__blob-green;
//     border-radius: 50% 50% 40% 60% / 60% 40% 50% 50%;
//     animation: blob-green-morph 15s ease-in-out infinite;
//     @include  mq(sp) {
//         animation: none;
//     }

//     @keyframes blob-green-morph {
//         0%, 100% {
//           border-radius: 50% 50% 40% 60% / 60% 40% 50% 50%;
//         }
//         33% {
//             border-radius: 40% 60% 50% 60% / 60% 50% 50% 40%;
//         }
//         66% {
//             border-radius: 60% 40% 50% 60% / 50% 50% 40% 60%;
//         }
//     }
// }
