@use "../../global/_variables.scss" as *;
@use "../../global/_mixins.scss" as *;

.p-fv-section {
  height: 100svh;
  position: relative;
}

.p-fv-section__inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-fv-section__title {
  z-index: $z-index-fv__title;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.p-fv-section__title-head {
  font-size: var(--font-size-heading-secondary);
  display: block;
  background-color: var(--color-white);
  width: fit-content;
  padding-inline: 16px;
  border-radius: 20px;
  border: 2px solid $black-color;
}

.p-fv-section__title-body {
  font-size: var(--font-size-heading-primary);
  display: block;
  background-color: var(--color-fv-title-body);
  width: fit-content;
  border-radius: 20px;
  padding-inline: 5px;
}
.p-fv__blob,
.p-fv__blob-accent,
.p-fv__blob-mint {
  will-change: transform;
}
.p-fv__blob {
  position: fixed;
  top: 50vh;
  right: 0;
  translate: 0 -50%;
  border-radius: 64% 36% 25% 75% / 41% 33% 67% 59%;
  width: clamp(25rem, 17.877rem + 14.859vw, 31.25rem);
  height: clamp(25rem, 17.877rem + 14.859vw, 31.25rem);
  background: var(--color-main);
  z-index: $z-index-fv__blob;

  @media (min-width: 768px) and (prefers-reduced-motion: no-preference) {
    animation: blob-morph 10s ease-in-out infinite;
  }


  @include mq(sp) {
    animation: none;
  }

  @keyframes blob-morph {
    0%,
    100% {
      border-radius: 50% 50% 47% 53% / 40% 63% 37% 60%;
    }
    33% {
      border-radius: 55% 45% 56% 44% / 49% 48% 52% 51%;
    }
    66% {
      border-radius: 59% 41% 46% 54% / 56% 64% 36% 44%;
    }
  }
}

.p-fv__blob-accent {
  position: fixed;
  top: 47vh;
  right: 30vw;
  translate: 0 -50%;
  width: clamp(9.375rem, 5.814rem + 7.429vw, 12.5rem);
  height: clamp(9.375rem, 5.814rem + 7.429vw, 12.5rem);
  z-index: $z-index-fv__blob-accent;
  background-color: var(--color-accent);
  border-radius: 71% 29% 50% 50% / 39% 46% 54% 61%;

  @media (min-width: 768px) and (prefers-reduced-motion: no-preference) {
    animation: blob-accent-morph 10s ease-in-out infinite;
  }

  @include mq(sp) {
    animation: none;
  }

  @keyframes blob-accent-morph {
    0%,
    100% {
      border-radius: 71% 29% 50% 50% / 39% 46% 54% 61%;
    }
    33% {
      border-radius: 61% 39% 60% 40% / 33% 39% 61% 67%;
    }
    66% {
      border-radius: 48% 52% 41% 59% / 45% 65% 35% 55%;
    }
  }
}


.p-fv__blob-mint {
  position: fixed;
  bottom: 30vh;
  right: 10vw;
  width: clamp(12.5rem, 5.377rem + 14.859vw, 18.75rem);
  height: clamp(12.5rem, 5.377rem + 14.859vw, 18.75rem);
  background-color: var(--color-mint);
  z-index: $z-index-fv__blob-mint;
  border-radius: 72% 28% 45% 55% / 62% 43% 57% 38%;

  @media (min-width: 768px) and (prefers-reduced-motion: no-preference) {
    animation: blob-accent-circle-morph 10s ease-in-out infinite;
  }

  @include mq(sp) {
    animation: none;
  }

  @keyframes blob-accent-circle-morph {
    0%,
    100% {
      border-radius: 72% 28% 45% 55% / 62% 43% 57% 38%;
    }
    33% {
      border-radius: 58% 42% 36% 64% / 69% 49% 51% 31%;
    }
    66% {
      border-radius: 48% 52% 57% 43% / 49% 59% 41% 51%;
    }
  }
}

// .p-fv__blob-green {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     translate: -50% -50%;
//     width: 20%;
//     height: 20%;
//     background-color: $green-light-color;
//     z-index: $z-index-fv__blob-green;
//     border-radius: 50% 50% 40% 60% / 60% 40% 50% 50%;
//     animation: blob-green-morph 15s ease-in-out infinite;
//     @include  mq(sp) {
//         animation: none;
//     }

//     @keyframes blob-green-morph {
//         0%, 100% {
//           border-radius: 50% 50% 40% 60% / 60% 40% 50% 50%;
//         }
//         33% {
//             border-radius: 40% 60% 50% 60% / 60% 50% 50% 40%;
//         }
//         66% {
//             border-radius: 60% 40% 50% 60% / 50% 50% 40% 60%;
//         }
//     }
// }
