@use "../../global/_variables.scss" as *;
@use "../../global/_mixins.scss" as *;

.p-header {
  @include flex-between;
  height: 100px;
}

.p-header__title {
  font-family: var(--font-family-en);
  width: 16.25rem;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 0.6rem 1.2rem;
}

.p-header__title-link {
  font-size: var(--font-size-body);
  border-radius: 20px;


  img {
    border-radius: 20px;
    height: 100%;
  }
}

.p-header__nav-list {
  @include flex-between;
  gap: 20px;

  .p-header__nav-item:nth-child(4) {
    background: var(--color-main);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--color-white);

    &::after {
      @include fa-icon("solid");
      content: var(--fa-mail);
      font-size: 20px;
      color: var(--color-white);
      margin-left: 10px;
    }
  }
}

.p-header__nav-item {
  font-weight: bold;
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 10px 20px;
  transition:
    background 0.5s ease,
    transform 0.5s ease;

  &:hover {
    background: var(--color-main);
    color: var(--color-white);
    transform: translateY(-2px);
  }
}

