.p-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.p-header__title {
    

}

.p-header__title-link {

}

.p-header__nav {
    

}

.p-header__nav-list {
    display: flex;
    gap: 20px;

}

.p-header__nav-item {

}

.p-header__nav-link {

}

