p {
  font-size: var(--font-size-md);
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-jp);
  color: var(--color-white);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-en);
  text-transform: capitalize;
  letter-spacing: 0.1em;
}

.en {
  font-family: var(--font-family-en);
}

.jp {
  font-family: var(--font-family-jp);
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* aタグ以外のhover時のcursorをdefaultに統一 */
*:hover:not(a, button) {
  cursor: default;
}

div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  caret-color: transparent;
}

form {
  input {
    caret-color: auto;
  }

  textarea {
    caret-color: auto;
  }
}

html {
  touch-action: manipulation;
  overscroll-behavior-y: none;
  scrollbar-gutter: stable;
  /* Firefox */
  scrollbar-width: none;

  /* Chrome, Safari, Edge */
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  isolation: isolate;

  /* ダイアログが開いている時、bodyを固定 */
  &:has(dialog[open]) {
    overflow: hidden;
  }
}

main {
  background: var(--color-green-dark);
}

