p {
  font-size: var(--font-size-md);
  line-height: 1.5;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-jp);
  color: var(--color-white);
}
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-family-en);
  text-transform: capitalize;
  letter-spacing: 0.1em;
}
.en {
  font-family: var(--font-family-en);
}
.jp {
  font-family: var(--font-family-jp);
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;

  &:hover {
    cursor: default;
  }
}

/* aタグ以外のhover時のcursorをdefaultに統一 */
*:hover:not(a) {
  cursor: default;
}

div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  caret-color: transparent;
}

form input {
  caret-color: auto;
}

form textarea {
  caret-color: auto;
}


html {
  touch-action: manipulation;
  overscroll-behavior-y: none;
  scrollbar-gutter: stable;
}
/* ダイアログが開いている時、bodyを固定 */
body:has(dialog[open]) {
  overflow: hidden;
}
/* Firefox */
html {
  scrollbar-width: none; 
}
/* Chrome, Safari, Edge */
html::-webkit-scrollbar {
  display: none;
}

