.pc-only {
    display: block;

  @mixin mq-sp {
    display: none;
  }
}

.sp-only {
  display: none;

  @mixin mq-sp {
    display: block;
  }
}

.visually-hidden--pc {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
  
  
  @mixin mq-sp {
    position: static !important;
    width: auto !important;
    height: auto !important;
    padding: initial !important;
    margin: initial !important;
    overflow: visible !important;
    clip: auto !important;
    white-space: normal !important;
    border: initial !important;
  }
}


.visually-hidden--sp {

  position: static !important;
  width: auto !important;
  height: auto !important;
  padding: initial !important;
  margin: initial !important;
  overflow: visible !important;
  clip: auto !important;
  white-space: normal !important;
  border: initial !important;
  

  @mixin mq-sp {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
